OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini

ACCURATE_CLIENT_ID=2d4a01f3-0d98-4cfc-8f7e-2a0dd2e5e6dd
ACCURATE_CLIENT_SECRET=8c6c1c48176b6f1f6e542a01e952eaa3
ACCURATE_REFRESH_TOKEN=4a912177-55b1-45b7-9b37-c0a896023ef3
ACCURATE_DB_ID=2540033
ACCURATE_ACCOUNT_BASE_URL=https://account.accurate.id
DEFAULT_STOCK_WAREHOUSE_NAME=Utama

PORT=5000
